SondaCorreo/Web References/WS_Resources/Resources.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertMail_Agosto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Origen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fuente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Medio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Oferta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Camp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertMail_AgostoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertMail_AgostoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertMail_AgostoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertMail_Agosto" />
  </wsdl:message>
  <wsdl:message name="InsertMail_AgostoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertMail_AgostoResponse" />
  </wsdl:message>
  <wsdl:portType name="ResourcesSoap">
    <wsdl:operation name="InsertMail_Agosto">
      <wsdl:input message="tns:InsertMail_AgostoSoapIn" />
      <wsdl:output message="tns:InsertMail_AgostoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResourcesSoap" type="tns:ResourcesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertMail_Agosto">
      <soap:operation soapAction="http://tempuri.org/InsertMail_Agosto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ResourcesSoap12" type="tns:ResourcesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertMail_Agosto">
      <soap12:operation soapAction="http://tempuri.org/InsertMail_Agosto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Resources">
    <wsdl:port name="ResourcesSoap" binding="tns:ResourcesSoap">
      <soap:address location="https://etb.com/WS_Resources/Resources.asmx" />
    </wsdl:port>
    <wsdl:port name="ResourcesSoap12" binding="tns:ResourcesSoap12">
      <soap12:address location="https://etb.com/WS_Resources/Resources.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>